<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Кабінет продавця</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>

<header>
    <nav>
        <ul class="txtColor">
        <li><a href="/exit">Exit</a></li>
        <li><a href="/catalog">Catalog</a></li>
      </ul>
    </nav>
</header>

    <div class="add-product">

        <h2>Додати товар</h2>

        <form action="/add_product" method="POST">

            <input type="text" name="product_name" placeholder="Назва товару" required>

            <input type="text" name="image_url" placeholder="URL зображення" required>

            <input type="number" step="0.01" name="price" placeholder="Ціна" required>

            <button>Додати товар</button>

        </form>

    </div>

    <hr>

    <h2>Мої товари</h2>

    <div class="products">

        {% for product in products %}

        <div class="card">

            <img src="{{ product.image_url }}">

            <h3>{{ product.product_name }}</h3>

            <p>{{ product.price }} грн</p>

            <form action="/delete_product/{{ product.id }}" method="POST">

                <button>Видалити</button>

            </form>

        </div>

        {% endfor %}

    </div>

</body>
</html>